{% extends 'layouts/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/registro/styles.css' %}" />
{% endblock %}
{% block title %} ConectaLocal | Crear solicitud {% endblock %}

{% block content %}

<section>
  <form method="POST" action="{% url 'Solicitudes:crear_solicitud' %}">
    {% csrf_token %}
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="col-lg">
              <div class="card-body p-md-5 mx-md-4">
                <h2 class="mt-1 pb-1 text-center">Crea tu solicitud</h2>
                <p class="mb-5 text-center">Crea tu solicitud con todos los datos necesarios para la pronta solución a
                  tu problema.</p>
                <div class="col">
                  <div class="col">
                    <!-- Title input -->
                    <div class="form-floating mb-5">
                      {{ form.nombre }}
                      <label for="floatingInput">Nombre de tu solicitud*</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Select menu -->
                    <label class="form-label tipo_problema" for="floatingSelect">Tipo de problema</label>
                    <div class="form-floating  mb-4">
                      {{ form.tipo_problema }}
                      <label for="floatingSelect">Elige la problemática*</label>
                    </div>
                  </div>
                </div>
                <div class="col align-items-center">
                  <div class="col">
                    <!-- Otro input -->
                    <div class="form-floating mb-5" id="otro">
                      {{ form.tipo_otro }}
                      <label for="otroProblema">Si elegiste otro, escríbelo:</label>
                    </div>
                  </div>
                  <div class="col">
                    <!-- Direccion input -->
                    <div class="form-outline">
                      <label class="form-label" for="estado">Dirección del problema</label>
                      <div class="row g-2">
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.estado }}
                            <label for="estado">Estado*</label>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.municipio }}
                            <label for="municipio">Municipio*</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-floating mb-4">
                        {{ form.direccion }}
                        <label for="direccion">Dirección:*</label>
                      </div>

                      <div class="row g-3 mb-4">
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.num_ext }}
                            <label for="num-ext">Numero exterior</label>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.num_int }}
                            <label for="num-int">Numero interior</label>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.codigo_postal }}
                            <label for="cp">Codigo postal*</label>
                          </div>
                        </div>
                      </div>
                      <!-- Contacto input -->
                      <label class="form-label" for="telefono">Información de contacto</label>
                      <div class="row g-2 mb-4">
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.telefono }}
                            <label for="telefono">Numero de telefono (10 digitos)*</label>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating mb-4">
                            {{ form.email }}
                            <label for="email-contacto">Correo electronico*</label>
                          </div>
                        </div>
                      </div>
                      <!-- Descripcion input -->
                      <div class="mb-5">
                        <label class="form-label" for="descripcion">Descripción del problema</label>
                        <div class="form-floating">
                          {{ form.descripcion }}
                          <label for="floatingTextarea2">Describe y explica detalladamente la problemática*</label>
                        </div>
                      </div>
                      <!-- Evidencia input -->
                      <label class="form-label" for="evidencia">Evidencia</label>
                      <div class="input-group mb-5">
                        {{ form.archivos }}
                      </div>
                      <!-- Boton -->
                      <div class="d-flex justify-content-around align-items-center">
                        <button type="submit" class="btn btn-success">Crear solicitud</button>
                      </div>
                      <p class="fs-6">* Información requerida</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </form>
</section>

{% endblock %}
{% block scripts %}

<script src={% static 'js/crear-solicitud.js' %}></script>

{% endblock %}