{% extends 'layouts/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/registro/styles.css' %}" /> {%endblock %}
{% block title %} ConectaLocal | Editar Solicitud {% endblock %}


{% block content %}
<section>
    <form method="post">
        {% csrf_token %}
        <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="col-lg">
                            <div class="card-body p-md-5 mx-md-4">
                                <h2 class="text-center mt-5 mb-5 justify-content-center">Detalles de la Solicitud </h2>
                                <div>
                                    <div>
                                        <label for="resuelto" class="h3 text-info-emphasis">Solicitud Resuelta</label>
                                        <input type="text" class="form-control-plaintext fs-4" id="resuelto"
                                            value="{% if solicitud.resuelto %}Sí{% else %}No{% endif %}">
                                        <br>
                                    </div>
                                    <div>
                                        <label for="fecha" class="h3 text-info-emphasis">Fecha</label>
                                        <input type="text" class="form-control-plaintext fs-4" id="fecha"
                                            value="{{ solicitud.fecha_creacion }}">
                                        <br>
                                    </div>
                                    <div>
                                        <label for="nombre" class="h3 text-info-emphasis">Nombre</label>
                                        {{ form.nombre }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="tipo_problema" class="h3 text-info-emphasis">Tipo de
                                            problema</label>
                                        {{ form.tipo_problema }}
                                        <br>
                                    </div>
                                    <div id="otro">
                                        <label for="tipo_otro" class="h3 text-info-emphasis">Tipo de problema</label>
                                        {{ form.tipo_otro }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="estado" class="h3 text-info-emphasis">Estado</label>
                                        {{ form.estado }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="municipio" class="h3 text-info-emphasis">Municipio</label>
                                        {{ form.municipio }}
                                        <br>
                                    </div>

                                    <div>
                                        <label for="direccion" class="h3 text-info-emphasis">Dirección</label>
                                        {{ form.direccion }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="num_ext" class="h3 text-info-emphasis">Número exterior</label>
                                        {{ form.num_ext }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="num_int" class="h3 text-info-emphasis">Número Interior</label>
                                        {{ form.num_int }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="codigo_postal" class="h3 text-info-emphasis">Código Postal</label>
                                        {{ form.codigo_postal }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="telefono" class="h3 text-info-emphasis">Teléfono de contacto</label>
                                        {{ form.telefono }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="email" class="h3 text-info-emphasis">Email de contacto</label>
                                        {{ form.email }}
                                        <br>
                                    </div>
                                    <div>
                                        <label for="descripcion" class="h3 text-info-emphasis">Descripción del
                                            problema</label>
                                        {{ form.descripcion }}
                                        <br>

                                    </div>
                                    <div>
                                        <label for="archivos" class="h3 text-info-emphasis">Evidencia del
                                            problema</label>
                                        {{ form.archivos }}
                                        <br>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'Solicitudes:responder_solicitud' %}"
                                        class="btn btn-secondary">Regresar
                                    </a>
                                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
</section>


{% endblock %}

{% block scripts %}

<script src={% static 'js/editar-solicitud.js' %}></script>

{% endblock %}