{% extends 'layouts/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index/styles.css' %}"> {% endblock %}
{% block title %} ConectaLocal | Iniciar Sesión {% endblock %}
{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">

  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src=" {% static 'img/base/public-service.png' %}" alt="Logo" class="img-fluid" width="50px">
                  <h4 class="mt-1 mb-5 pb-1">ConectaLocal</h4>
                </div>

                <form action="{% url 'index' %}" method="post">
                  {% if success_message %}
                  <p class="text-center"><b>{{ success_message }}</b></p>
                  {% else %}
                  <p class="text-center"> <b>Ingresa tus datos para iniciar sesión</b> </p>
                  {% endif %}
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control" />
                    <label class="form-label" for="form2Example11">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" />
                    <label class="form-label" for="form2Example22">Contraseña</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Iniciar
                      sesión</button>
                    <a class="text-muted" href="{% url 'password' %}">¿Olvidaste tu contraseña?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tienes cuenta?</p>
                    <a href="{% url 'registro' %}" <button type="button"
                      class="btn btn-outline-danger">Registrate</button></a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">ConectaLocal</h4>
                <p class="medium mb-0">Con ConectaLocal la comunicación entre gobierno y ciudadano será más fácil. Te
                  ayudamos a generar solicitudes, compartir comentarios, y hacer preguntas de diversos temas como:
                  recolección de basura y residuos, gestión de emergencias a desastres naturales, entre muchas más.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}