{% extends 'layouts/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/registro/styles.css' %}"> {% endblock %}
{% block title %} ConectaLocal | Recupera tu contraseña {% endblock %}
{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src=" {% static 'img/base/public-service.png' %}" alt="Logo" class="img-fluid" width="50px">
                  <h4 class="mt-1 mb-5 pb-1">ConectaLocal</h4>
                </div>

                <form>
                  <p class="text-center"><b>Olvidaste la contraseña?</b></p>
                  <p class="text-center">Te vamos a enviar un correo con la contraseña.</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" placeholder="Ingresa tu email registrado" class="form-control" />
                    <label class="form-label" for="form2Example11">Email</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 text-black"
                      type="button">Recuperar contraseña</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿Ya tienes tu cuenta?</p>
                    <a href="{% url 'index' %}"> <button type="button" class="btn btn-outline-danger">Inicia
                        Sesión</button></a>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">ConectaLocal</h4>
                <p class="medium mb-0">Las organizaciones gubernamentales reciben una cantidad enorme de solicitudes
                  para diferentes tipos de problemas, y la mayoría de veces son de manera ineficiente y no efectiva de
                  manejar esta situación. Por eso con ConectaLocal la comunicación entre gobierno y ciudadano será más
                  fácil. Te ayudamos a generar solicitudes, compartir comentarios y hacer preguntas como:
                <ul class="medium mb-0">
                  <li>Necesidades de reparación de calles y aceras.</li>
                  <li>Recolección de basura y residuos.</li>
                  <li>Mantenimiento de parques y alumbrado público.</li>
                  <li>Gestión de emergencias a desastres naturales.</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}